# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/

# Ignore environment variables
.env

config/.env

# Ignore database files
*.sqlite3
*.db

# Ignore system files
.DS_Store

# Ignore logs
*.log

Commands.txt
